{% extends 'base.html' %}

{% block title %} Welcome to the home page {% endblock %}
{% block body %} 
<img src="/photos/tanks.jpg">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius placerat nisl, non commodo magna consectetur sit amet. Cras lacinia risus nec eleifend vestibulum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Maecenas dui justo, vehicula at scelerisque a, congue eget lectus. In sodales fermentum turpis vel dictum. Etiam vulputate et orci vel efficitur. Etiam vitae purus sed tellus tincidunt lacinia. Mauris ipsum erat, pulvinar vel eleifend a, viverra at purus. Cras rutrum ligula metus. Mauris neque magna, malesuada quis imperdiet at, imperdiet at tellus.
<br></br>
Suspendisse sagittis erat sed mi vestibulum, vel efficitur nisl vehicula. Donec sed ante orci. Aenean at vehicula lacus. In in enim id neque commodo dictum eu vitae libero. Nulla diam libero, convallis at nisl non, elementum sagittis erat. Donec mattis metus ac luctus rhoncus. Nullam ultrices iaculis nisi eget tincidunt. Curabitur pretium libero vel metus luctus sagittis. Donec eu est vitae nisl rutrum semper. Proin gravida a mi sed hendrerit.
<br></br>
<a href="https://placeholder.com"><img src="https://via.placeholder.com/150"></a> 
{% endblock %}